<<<<<<< HEAD
mixin navigation 
    nav 
        a(href="/")
            b Population Information System 
        a(href="/continent") Continents
        a(href="/country") Countries
        a(href="/cities") Cities
=======
mixin navigation 
    nav 
        a(href="/")
            b Population Information System 
        a(href="/continent") Continents
        a(href="/country") Countries
        a(href="/cities") Cities
>>>>>>> fddcc00372114f7df4a850eeab509ee76104604f
        a(href="/regions") Regions 