mixin navigation 
    nav 
        a(href="/")
            b Population Information System 
        a(href="/continent") Continents
        a(href="/country") Countries
        a(href="/cities") Cities
        a(href="/regions") Regions 