extends layout.pug

block head 
    link(rel="stylesheet", href="/aboutus.css")

block content

    .about-us
        h2 About Us

        p World Database is a platform dedicated to providing accurate and up-to-date demographic information from across the globe. Our mission is to make demographic data accessible and understandable for everyone, whether you're a student, researcher, or simply curious about the world.
    
        p We believe in transparency, accuracy, and providing a user-friendly experience. Our team is committed to continuously updating the platform with the latest data and offering new features to enhance your experience.