extends layout

block content
  h1 Welcome to World Database
  
  p Explore population data by selecting a level and entering the corresponding code.

  a(href="/population" class="button") Go to Population Data Viewer

  p View the population data for the most spoken languages in the world.

  a(href="/languages" class="button") Language Data Viewer 


  


  