extends layout.pug

block head 
    link(rel="stylesheet", href="/countries.css")

block content
  h2 Languages Spoken
  table
    thead
      tr
        th Language
        th Total Population
        th Percentage of World Population
    tbody
      each language in languages
        tr
          td= language.language
          -const population = new Intl.NumberFormat().format(language.population);
          td.fit.number #{population}
          td= language.percentage + "%"
