<<<<<<< HEAD
html 
    head
        link(rel="stylesheet", href="/style.css")
        title Population Information System 
        block head 
    body
        .layout
            .layout-nav
                include mixins/nav 
                +navigation()

            .layout-content 
=======
html 
    head
        link(rel="stylesheet", href="/style.css")
        title Population Information System 
        block head 
    body
        .layout
            .layout-nav
                include mixins/nav 
                +navigation()

            .layout-content 
>>>>>>> fddcc00372114f7df4a850eeab509ee76104604f
                block content 