block head 
    link(rel="stylesheet", href="/register.css")

.card
    i(class="fas fa-check-circle success-icon")
    h1 Registration Successful
    p Thank you for registering. Your account has been successfully created.
    p 
    a(href="/login" class="continue-btn") Continue
