block head 
    link(rel="stylesheet", href="/register.css")

.card
    h1 Username Already Exists
    p The username you chose is already taken. Please try another one.
    p 
    a(href="/register" class="retry-btn") Try Again
